{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Buat Event Baru</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" name="submit" type="submit">Create</button>
    </form>
    <button class="btn btn-danger" name="submit">Cancel</button>
</div>


{% endblock content %}