{% extends 'base.html' %}
{% block content %}

<div class="container">
	<h1>{{ event.nama }}</h1> <span>Status Event: <b>Belum Dimulai</b></span>
	<hr>
	<div>
		<p><b>Organizer:</b> {{event.tanggal_mulai}} - {{event.tanggal_selesai}}</p>
		<p><b>Deskripsi Event:</b> {{ event.deskripsi }}</p>
		<p><b>Tema:</b> {{event.nama_tipe}}</p>
		<p><b>Tanggal:</b> {{event.tanggal_mulai}} - {{event.tanggal_selesai}}</p>
		<p><b>Jam:</b> {{ event.jam_mulai }} - {{event.jam_selesai}}</p> 
		<p><b>Lokasi:</b> {{ event.nama_gedung }}, {{event.alamat}}, {{event.kota }}</p> 
		<p><b>Kapasitas:</b> {{event.kapasitas_total_tersedia}}/{{event.kapasitas_total}} tersedia</p>
	</div>

	<p>Daftar Kelas Tiket</p>
	<table style="width:100%; margin-bottom: 50px">
	  <tr style="background: lightgray">
		<th>No</th>
		<th>Nama Kelas</th>
		<th>Tarif</th>
		<th>Kapasitas</th>
		<th>Kapasitas Tersedia</th>
	  </tr>
	  {% for ticket in tickets %}
	  <tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ ticket.nama_kelas }}</td>
		<td>{{ ticket.tarif }}</td>
		<td>{{ ticket.kapasitas }}</td>
		<td>{{ ticket.kapasitas_tersedia }}</td>
	  </tr>
	  {% endfor %}
	</table>

	<p>Avg Rating: {{ avg_rating }} / Banyak Testimonial: {{testimonials|length}}</p>
	<table style="width:100%">
	  <tr style="background: lightgray">
		<th>No</th>
		<th>Timestamp</th>
		<th>Email Pemilik Tiket</th>
		<th>Rating</th>
		<th>Isi & Foto</th>
	  </tr>
	  {% for testi in testimonials %}
	  <tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ testi.timestamp_testimoni }}</td>
		<td>{{ testi.email_pemilik_tiket }}</td>
		<td>{{ testi.rating }}</td>
		<td>{{ testi.isi }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>


{% endblock content %}
