{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 class="d-flex justify-content-center">Daftar Event</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Tema Event</th>
        <th scope="col">Nama Event</th>
        <th scope="col">Organizer</th>
        <th scope="col">Lokasi</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jam</th>
        <th scope="col">Kapasitas</th>
        {% if typeUser == 'organizer' %}
        <th scope="col">Edit Event</th>
        <th scope="col">Delete Event</th>
        {% else %}
        <th scope="col">Pesan Tiket</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for data in datas %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ data.nama_tema }}</td>
        <td>{{ data.nama }}</td>
        <td>{{ data.email_organizer }}</td>
        <td>{{ data.nama_gedung }}</td>
        <td>{{ data.tanggal_mulai }} - {{data.tanggal_selesai}}</td>
        <td>{{ data.jam_mulai }} - {{ data.jam_selesai }}</td>
        <td>{{ data.kapasitas_total }}</td>
        {% if typeUser == 'organizer' %}
        <td>
          {% if data.email_organizer == request.session.user.0 %}
          <a href="/event/update/{{ data.id_event }}">
            <button type="button" class="btn btn-primary">Edit</button>
          </a>
          {% else %}
          <p>X</p>
          {% endif %}
        </td>
        <td>
          {% if data.email_organizer == request.session.user.0 %}
          <form method="POST">
            {% csrf_token %}
            <button type="submit" onclick="deleteRowEvent('{{ data.id_event }}', '{{ csrf_token }}')" 
            class="btn btn-danger">Delete</button>
          </form>
          {% else %}
          <p>X</p>
          {% endif %}
        </td>
        {% else %}
        <td>
          <button type="button" class="btn btn-primary">Pesan</button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
