{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="d-flex justify-content-center">Event Anda</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Tipe Event</th>
        <th scope="col">Nama Event</th>
        <th scope="col">Lokasi</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jam</th>
        <th scope="col">Kapasitas Total</th>
        <th scope="col">Kapasitas Tersedia</th>
        {% if typeUser == 'organizer' %}
        <th scope="col">Edit Event</th>
        <th scope="col">Delete Event</th>
        {% else %}
        <th scope="col">Pesan Tiket</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ event.nama_tipe }}</td>
        <td>{{ event.nama }}</td>
        <td>{{ event.nama_gedung }}</td>
        <td>{{ event.tanggal_mulai }} - {{event.tanggal_selesai}}</td>
        <td>{{ event.jam_mulai }} - {{ event.jam_selesai }}</td>
        <td>{{ event.kapasitas_total }}</td>
        <td>{{ event.kapasitas_total_tersedia }}</td>
        {% if typeUser == 'organizer' %}
        <td>
          <button type="button" class="btn btn-primary"><a style="color: white;" href="/event/update/{{ event.id_event }}">Edit</a></button>
        </td>
        <td>
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
        {% else %}
        <td>
          <button type="button" class="btn btn-primary">Pesan Tiket</button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
