{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1>{{ organizer.nama }}</h1>
	<hr />
	<div>
		<p><b>Email: </b>{{ organizer.email}}</p>
		<p><b>Total Event: </b>{{ events|length }}</p>
	</div>

	<p>[Average Rating: {{ testimonial.avg|floatformat:2 }} / Jumlah Testimonial: {{ testimonial.count }}]</p>
  <table style="width: 100%; margin-bottom: 50px">
    <tr style="background: lightgray">
      <th>No</th>
      <th>Nama Event</th>
      <th>Tanggal Event</th>
    </tr>
  {% for event in events %}
  <tr>
	<td>{{ forloop.counter }}</td>
	<td>{{ event.nama }}</td>
	<td>{{ event.tanggal_mulai }}</td>
  </tr>
  {% endfor %}
  </table>
{% endblock content %}
