{% extends 'base.html' %} {% block content %}

<div class="container">
  {% if false %}
  <div class="alert alert-danger" role="alert">
    Username atau Passowrd gagal, Silahkan ulangi kembali dengan informasi yang
    benar
  </div>
  {% endif %}
  <h1>LOGIN</h1>
  <form action="" method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn btn-primary" name="login" type="submit">Login</button>
  </form>
  <p style="color: red">{{ error_msg }}</p>
  <p style="color: green"><a href="/register/">Register an account</a></p>
</div>

{% endblock content %}
