{% extends 'base.html' %} {% block content %}

<div class="container">
  {% if false %}
  <div class="alert alert-danger" role="alert">
    Registrasi gagal. Silahkan lakukan pengecekan terhadap inputtan anda
  </div>
  {% endif %}
  <h2>REGISTRASI ORGANIZER</h2>

  <form action="" method="POST">
    {% csrf_token %} {{ form.as_p }}

    <button class="btn btn-primary" name="register" type="submit">
      Register
    </button>

    {% if registered != "" %}
    <h4 style="color: green">{{ registered }}</h4>
    {% else %} {% for e in error %}
    <p style="color: red">{{ e }}</p>
    {% endfor %} {% endif %}
  </form>
  <a href="/register/"
    ><button class="btn btn-danger" name="submit">Cancel</button></a
  >
  <p style="color: green"><a href="/login/">Login Now</a></p>
</div>

{% endblock content %}
