{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>REGISTRATION</h1>

    <h5>Pilih role yang ingin anda daftarkan<h5>
    <div id="role-list" class="col">    
        <a id="role-button" href="{{ register_pengunjung }}">
            <button class="btn btn-outline-dark">PENGUNJUNG</button>
        </a>
        
        <a id="role-button" href="{{ register_organizer }}">
            <button class="btn btn-outline-dark">ORGANIZER</button>
        </a>
    </div>
</div>


{% endblock content %}