{% extends 'base.html' %} {% block content %}

<div class="container mt-2">
  <h1 class="d-flex justify-content-center">Hapus Transaksi Event</h1>
  <h1 class="d-flex justify-content-center">
    Apa anda yakin untuk mengahpus transaksi event ini
  </h1>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Ya</button>
    <button type="button" class="btn btn-danger ml-2">Tidak</button>
  </div>
</div>

{% endblock content %}
