{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1 class="d-flex justify-content-center">Pesan Tiket Event</h1>
  <h3>Tema Event: Halloween</h3>
  <h3>Nama Event: Mogloween</h3>
  <h3>Deskripsi: happy haunting special holiday event</h3>
  <h3>Tanggal: 27 Januari 2021 - 28 Januari 2022</h3>
  <h3>Lokasi Event: AEON mall</h3>
  <h3>Tipe Event: Party</h3>
  <div class="row mt-5 d-flex justify-content-center">
    <h3>VVIP - 100.000 - 150 - 120</h3>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark Ganteng</td>
          <td>Markgabnteng@ui.ac.id</td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark Ganteng Banget</td>
          <td>mgb@ugm.ac.id</td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">Tambah Row</div>
  <div class="row mt-5 d-flex justify-content-center">
    <h3>VIP - 150.000 - 350 - 220</h3>
  </div>
  <div class="d-flex justify-content-end">Tambah Row</div>
  <div class="row mt-5 d-flex justify-content-center">
    <h3>Reguler - 190.000 - 550 - 420</h3>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ahmad Ganteng</td>
          <td>ahmadgabnteng@ui.ac.id</td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>bill Ganteng Banget</td>
          <td>bill@ugm.ac.id</td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">Tambah Row</div>
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <button type="button" class="btn btn-primary">Buat Trasnkasi</button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" class="btn btn-danger">Cancel</button>
    </div>
  </div>

  {% endblock content %}
</div>
